<footer>
<div class="footerBlocks">
  <div class="footerInfo">
      <h3>Donde estamos</h3>
      <div> 
          <p>Urazurrutia Kalea, 3</p>
          <p>48003 Bilbo, Bizkaia</p>
          <a href="https://g.page/BBKKuna?share" target="_blank">Ver Mapa</a>
    </div>
  </div> 
  <div class="footerInfo">
      <h3>Contacto</h3>
      <div>
          <p>944 300 140</p>
          <p>652 74 29 58</p>
          <p>algo.riders@gmail.com</p>
      </div>
      <div id="socialLogos">
          <img src="/assets/images/instagram.png" alt="instagram">
          <img src="/assets/images/facebook.png" alt="facebook">
          <img src="/assets/images/tuenti.png" alt="tuenti">
      </div>
  </div>
  <div class="footerInfo">
      <img src="" alt="help">
      <h3>¿Necesitas ayuda?</h3>
      <input (click)="askHelp()" type="text" name="help" id="help" placeholder="Escribe tu consulta...">
  </div>
</div>
<div id="footerCopyright">
    <div>
        <p>Maren y Multimedia SLU CIF B73347494. AVDA Europa, Parcela 2-5 y 2-6. Polígono industrial Las Salinas, 30840, Alhama de Murcia, Murcia. ESPAÑA.</p>
        <p>Sí, lo siento. Lo de arriba lo he copiado. Gracias  por darte cuenta.</p>
    </div>
</div>
</footer>